/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1b1b1b; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App {
    width: 80%;
    max-width: 800px;
    background-color: #2c2c2c; /* Fundo cinza escuro */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    padding: 20px; /* Adicionado padding para espaçamento interno */
}

/* TodoWrapper Styles */
.todo-wrapper {
    display: flex;
    justify-content: space-between;
}

.pending-tasks, .completed-tasks {
    width: 45%;
}

h2 {
    border-bottom: 1px solid #ffffff; /* Linha de separação branca */
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Botões */
button {
    background-color: #000000; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #444444; /* Cinza escuro ao passar o mouse */
}

button:focus {
    outline: none;
}

button.delete {
    background-color: #e74c3c; /* Fundo vermelho */
    color: #ffffff; /* Texto branco */
    margin-left: 10px;
    border-radius: 5px; /* Bordas arredondadas */
}

button.delete:hover {
    background-color: #c0392b; /* Vermelho escuro ao passar o mouse */
}

button.complete {
    background-color: #27ae60; /* Fundo verde */
    color: #ffffff; /* Texto branco */
    border-radius: 5px; /* Bordas arredondadas */
}

button.complete:hover {
    background-color: #229954; /* Verde escuro ao passar o mouse */
}

/* Task Styles */
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333333; /* Fundo cinza mais claro */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px; /* Aumentado o espaçamento entre tarefas */
    transition: background-color 0.3s ease;
    flex-wrap: wrap; /* Permitir que os elementos sejam quebrados em várias linhas se necessário */
}

.task span {
    flex: 1;
    margin-right: 10px;
}

/* Ajuste dos botões dentro das tarefas */
.task-buttons {
    display: flex;
    gap: 10px; /* Espaçamento entre os botões */
}

.task.completed {
    background-color: #27ae60; /* Verde para completadas */
    text-decoration: line-through;
}

/* TaskForm Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Aumentado gap para mais espaçamento */
    padding: 20px; /* Adicionado padding para espaçamento interno */
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 10px; /* Aumentado o espaçamento entre labels */
}

input[type="text"],
input[type="date"],
input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ffffff; /* Borda branca */
    border-radius: 5px;
    margin-top: 5px;
    background-color: #444444; /* Fundo cinza escuro */
    color: #ffffff; /* Texto branco */
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none;
    border: 1px solid #3498db; /* Borda azul */
}

form button {
    align-self: flex-start;
}

form button[type="submit"] {
    background-color: #000000; /* Fundo preto */
    color: #ffffff; /* Texto branco */
    padding: 10px 20px; /* Adicionado padding para espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas */
}

form button[type="submit"]:hover {
    background-color: #444444; /* Cinza escuro ao passar o mouse */
}
